<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".RunningManApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.RunningMan"
        tools:targetApi="31"
        tools:ignore="ForegroundServicePermission">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/naver_map_api_key" />
        <service
            android:name=".service.PedometerService"
            android:foregroundServiceType="location"
            android:exported="false"/>
        <service
            android:name=".service.LocationUpdateService"
            android:foregroundServiceType="location"
            android:exported="false" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>
        <activity
            android:name=".presentation.screen.main.MainActivity"
            android:exported="true">
        </activity>
        <activity android:name=".presentation.screen.SplashScreen"
            android:exported="true">

        </activity>
        <activity android:name=".presentation.screen.login.LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao99180739a7bcf290c7df2a47e48e4767" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.screen.onboarding.GenderScreen"
            android:exported="true">

        </activity>
        <activity android:name=".presentation.screen.onboarding.WeightScreen"/>
        <activity android:name=".presentation.screen.onboarding.HeightScreen"/>
        <activity android:name=".presentation.screen.onboarding.AgeScreen"/>
        <activity android:name=".presentation.screen.onboarding.onboardingend.OnBoardingEndScreen"/>
        <activity android:name=".presentation.screen.main.fragment.main.settings.SettingsActivity"/>
        <activity android:name="com.cjwjsw.runningman.presentation.screen.main.fragment.profile.AddFeedActivity" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/OssLicensesTheme" />
        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/OssLicensesTheme"/>
        <activity android:name=".presentation.screen.main.fragment.main.settings.WebViewActivity"/>
        <activity android:name=".presentation.screen.main.fragment.main.graph.GraphActivity"/>
        <activity android:name=".presentation.screen.main.fragment.main.weather.WeatherDetailActivity"/>
        <activity android:name="com.cjwjsw.runningman.presentation.screen.main.fragment.social.FeedDetailScreen" />

    </application>

</manifest>